{% extends "base.html.twig" %}
{% block title %}
    edit film
                
            
        
    
{% endblock %}

{% block body %}
    <body>
        <div class="jumbotron text-center">
            <h1>
                editer un film 
                                        
                            
            </h1>
        </div>

        <form>
            <div class="form-group">
                {{ form_start(form) }}
                <label for="exampleInputEmail1">
                    Titre :
                                    
                </label>
                {{ form_widget(form.name) }}
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">
                    Synopsis :
                                    
                </label>
                {{ form_widget(form.synopsis) }}
            </div>
            <div class="form-check">
                <label class="form-check-label" for="exampleCheck1">
                    film vu ?
                                    
                </label>
            </br>
            {{ form_widget(form.seen) }}

        </div>
        <br></br>
        <div>
            {{ form_widget(form.save) }}
        </div>
        {{ form_end(form) }}
    </form>
</body></html>{% endblock %}